<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@micropost, url: microposts_path, html: { method: :post }) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-xs-8">
      <%= render 'microposts/microposts', microposts: @microposts %>
    </div>
  </div>
  <duv class="row">
    <hr>
      <aside class="col-md-4"><p><%= link_to 'お気に入り投稿一覧を見る', favorites_path %></p>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

<%= debug params %>